
<p>First Name: <%= @order.first_name %></p>
<p>Last Name: <%= @order.last_name %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Topping: <%= @order.topping %></p>

<a href="/pizza-orders/<%=@order.id%>/edit">Edit Order</a>

<form method="post" action="/pizza-orders/<%= @order.id%>/delete">
<input type="submit" value ="Delete order" />
</form>
